$gradient: #ab79d6 10%, #af88d1 25%,#bb9bd6 50%, #c8a9e2 75%,#d5b7ee 90%;
$skew-cards: -1deg;
$skew-cards-active: -1.5deg;
@mixin text-style($size:12px, $weight:400, $style:normal, $color:$secondary){
    font-size: $size;
    font-weight: $weight;
    font-style: $style;
    color:$color;
}
@mixin hover-menu($theme:$secondary){
    color: $theme;
    cursor: pointer;
    transition: .3s ease-out;
    line-height: 25px;
    &:hover {
        color: darken($color: $theme, $amount: 10);
        transition: .3s ease-in;
    }
}
@mixin remove-styles-ul {
    padding-left: 0px;
    list-style:none;
    text-align: left;
}

@mixin inline-flex($display:inline-flex,$justify:center,$align:center,$width:100%) {
    display: $display;
    justify-content: $justify;
    width: $width;
    align-items: $align;
}

@mixin div-background($height:100%) {
    min-height: $height;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@mixin div-absolute-center($position:absolute,$zindex:1) {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    position: $position;
    z-index: $zindex;
}
@mixin boxes-container($width: 100%, $height:10vh, $min-height: 30px, $display:inline-flex, $hsl: 0px, $vsl: 7px, $blur: 4px, $spr: -8px) {
    width: $width;
    display: $display;
    box-shadow: $hsl $vsl $blur $spr $boxes;
    height: $height;
    min-height: $min-height;
}
@mixin card-styles() {
    height: 70px;
    border-radius: 5px;
    transition: .1s ease-out;
    &::before {
        background-image: linear-gradient(35deg,$gradient);
        border-radius: 0.25rem;
        height: calc(100% + 1px);
        top: -1px;
        transition: transform .24s ease-in;
        bottom: 0;
        content: "";
        left: 0;
        position: absolute;
        right: 0;
        transform: skewY($skew-cards);
        z-index: -1;
    }
    &::after{
        bottom: 0;
        content: "";
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transform: skewY($skew-cards);
        z-index: -1;
        background-image: linear-gradient(to bottom,rgba(30,28,34,0.75), $primary 0.75rem);
    }
    &:hover {
        // border: 2px $light-grey solid;
        transition: .1s ease-in;
    }
    &:hover::before {
        transform: skewY($skew-cards-active) scale(1.01);
    }
}


// Responsive Media Queries
$breackpoints: (
    'xs':576px,
    'sm':767px,
    'md':991px,
    'lg':1199px
);

@mixin media-up($breackpoint) {
    @media screen and (min-width: map-get($breackpoints,$breackpoint)) {
        @content;
    }
}

@mixin media($breackpoint) {
    @media screen and (max-width: map-get($breackpoints,$breackpoint)) {
        @content;
    }
}