.my-reservations {
    margin-top: 0;
    .container {
        height: 100%;
    }
    .container-data {
        display: block;
        border-radius: 5px;
        background-color: #fff;
        @include div-absolute-center;
        @include boxes-container($display:block,$width:70%,$height:70%,$hsl: 0px, $vsl: 1px, $blur: 2px, $spr: 0px);
        .container-checkout {
            display: flex;
            height: 100%;
            .list-reservations, .list-data-form-user {
                width: 50%;
                height: 100%;
            }
            .list-reservations {
                .container-cards {
                    height: 82%;
                    width: 90%;
                    .actions{
                        button{
                            width: 35px!important;
                        }
                    }
                    .card-item-title {
                        @include text-style($size:16px, $weight:400, $style:normal, $color:$primary)
                    }
                } 
            }
            .list-data-form-user {
                order: 2;
                box-shadow: -6px 1px 8px -6px rgba(0,0,0,0.54);
                .container-info{
                    width: 90%;
                    margin: auto;
                    .data {
                        margin-top: 10px;
                        margin-bottom: 10px;
                    }
                    // @include  inline-flex($width:90%,$display:flex,$justify:space-between,$align:center);
                }  
            }
            .container-title, .container-summary {
                position: relative;
                margin: auto;
                height:15%;
                @include  inline-flex($width:90%,$display:flex,$justify:space-between,$align:center);
                h2{
                    @include text-style($size:25px, $weight:400, $style:normal, $color:$primary)
                }
                button.delete-all {
                    width: 50px;
                    min-width: 50px;
                }
            }
        }
        .container-cart{
            width: 70%;
            margin: auto;
            height: 100%;
            .container-title, .container-summary {
                position: relative;
                margin: auto;
                height:15%;
                @include  inline-flex($width:90%,$display:flex,$justify:space-between,$align:center);
                h2{
                    @include text-style($size:25px, $weight:400, $style:normal, $color:$primary)
                }
                button.delete-all {
                    width: 50px;
                    min-width: 50px;
                }
            }
            .container-cards {
                height: 70%;
            }
        }
        .container-cards {
            overflow-y: auto;
            position: relative;
            margin: auto;
            .card-item-title {
                @include text-style($size:16px, $weight:400, $style:normal, $color:$primary)
            }
            .card {
                position: relative;
                z-index: 0;
                @include card-styles();
                @include inline-flex($justify:left,$align:center);
                @include text-style($size:14px,$color:$white);
                .departure, .arrival {
                    width: 25%;
                    text-align: center;
                }
                .ammount, .actions {
                    width: 20%;
                    text-align: center;
                }
                .actions {
                    button {
                        width: 32% !important;
                        font-size: 16px;
                        min-width: 20% !important;
                        height: 35px;
                    }
                }
                .line-flight {
                    width: 10%;
                    height: 6px;
                    background-color: $secondary;
                    position: relative;
                    &::before{
                        content: '';
                        display: inline-block;
                        width: 0;
                        height: 0;
                        border: 3px solid transparent;
                        vertical-align: middle;
                        position: absolute;
                        left: -6px;
                        top: 0;
                        bottom: 0;
                        border-top-color: $secondary;
                        border-bottom-color: $secondary;
                        border-right-color: $secondary;
                    }
                    &::after{
                        content: '';
                        display: inline-block;
                        width: 0;
                        height: 0;
                        border: 5px solid transparent;
                        position: absolute;
                        right: -10px;
                        top: -2px;
                        bottom: 0;
                        vertical-align: middle;
                        border-left-color: $secondary;
                    }
                }
            }
        }
        .container-summary .show-total {
            @include text-style($size:22px, $weight:400, $style:normal, $color:$primary)
        }
        .container-summary .reserve {
            width: 30%;
        }
        .container-empty {
            width: 100%;
            height: 100%;
            padding-top: 20%;
            box-sizing: border-box;
            // @include div-absolute-center;
            h2, h3{
                text-align: center;
            }
            h2{
                @include text-style($size:30px, $weight:400, $style:normal, $color:$primary)
            }
            h3{
                @include text-style($size:22px, $weight:400, $style:normal, $color:$primary)
            }
        }
    }
    .modal-form {
        display: block;
        background-color: rgba(0,0,0,.5);
        transition: .3s ease-out;
        @include div-absolute-center($position:fixed);
        z-index: 3;
        .container-form {
            padding-left: 18px;
            padding-right: 18px;
            width: 45%;
            height: 55%;
            background-color: $white;
            border-radius: 10px;
            @include div-absolute-center;
            @include inline-flex($width:45%, $display:flex);
            .close-modal{ 
                right: 5%;
                @include style-modal-button
            }
            h2{
                @include text-style($size:25px, $weight:400, $style:normal, $color:$primary);
                text-align:center;
            }
            form {
                text-align: center;
                padding-top:20px;
                input{
                    border: 1px $primary solid;
                    margin-bottom: 15px;
                    width: 75%;
                }
                button {
                    margin-top:10px;
                    width: 30%;
                }
                button:disabled {
                    background-color: lighten($color:$primary,$amount:25);
                }
            }
        }
    }
}

@include media(sm){
    .my-reservations {
        .container-data {
            display: block;
            min-height: 90%;
            position: relative;
            margin-top: 100px;
            width: 90%;
            .container-cart{
                width: 100%;
                .card {
                    .actions {
                        button { 
                            width: 35px!important;
                        }
                    }
                }
                .container-summary {
                    text-align: center;
                    @include inline-flex($display:block);
                    .show-total {
                        margin-bottom:10px;
                    }
                }
            }
            .container-checkout {
                display: block;
                height: auto;
                .list-data-form-user, .list-reservations {
                    width: 100%;
                }
                .list-data-form-user {
                    padding-top: 20px;
                    padding-bottom: 30px;
                    box-sizing: border-box;
                    box-shadow: none;
                    h2{
                        font-size: 20px;
                    }
                    .data{
                        font-size: 14px;
                    }
                    .container-summary {
                        .show-total {
                            padding-top: 10px;
                            font-size: 16px;
                            box-sizing: border-box;
                        }
                    }
                }
                .list-reservations {
                    h2{
                        font-size: 20px;
                    }
                    .container-cards {
                        padding-right: 5px;
                        padding-left: 5px;
                        min-height: 250px;
                    }
                }
            }
            .container-empty {
                padding-top: 0;
                @include inline-flex;
                h2 {
                    font-size: 24px;
                }
                h3{
                    font-size: 18px;
                }
            }
        }
        .modal-form {
            .container-form {
                width: 90%;
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
}