nav {
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: lighten($color:$primary, $amount: 3);
    @include boxes-container($height:11vh);
    .navbar-brand {
        width: 40%;
        margin-left: 8vw;
        align-items: center;
        height: 100%;
        display: inline-flex;
        img {
            height: 70%;
        }
        h2 {
            @include hover-menu($theme:$secondary);
            .fa-plane {
                margin-left: 10px;
                transform: rotate(-45deg)
            }
        }
    }
    .menu {
        width: 60%;
        text-align: right;
        padding-right: 8vw;
        ul {
            padding-left: 0;
            height: 100%;
            li{
                display: inline-flex;
                align-items: center;
                text-decoration: none;
                margin-left: 10px;
                margin-right: 10px;
                height: 100%;
                font-weight: bold;
                a {
                    border-bottom: 3px transparent solid;
                    @include hover-menu($theme:$secondary);
                    &:hover {
                        border-bottom: 3px darken($color:$secondary,$amount:10) solid;
                    }
                }
            }
        }
    }
}

@media (min-width: $xs) and (max-width:$sm) {

}